{% extends "layout.html" %}

{% block settings %}
<head>
    <title>Settings</title>
</head>

<div class="container overlay_light bor">
    <div class="row text-center">
        <h3 class="diary" style="color: #000; letter-spacing: 5px">Choose your aesthetic!</h3>
    </div>
</div>

<div class="row" style="height: 20px"></div>

<div class="container overlay_light bor">
    <div class="row">
        <!--CARD_1-->
        <div class="col-4 align-self-center">
            <div class="card" style="background-color: #f1a7bf">
                <img src="static/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="/settings" method="post" name="header_1">
                        <input type="hidden" name="header_1" value="header_1" />
                        <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                    </form>
                </div>
            </div>
        </div>
        <!--CARD_2-->
        <div class="col-4 align-self-center">
            <div class="card" style="background-color: #dc87c2">
                <img src="static/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="/settings" method="post" name="header_1">
                        <input type="hidden" name="header_1" value="header_2" />
                        <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                    </form>
                </div>
            </div>
        </div>
        <!--CARD_3-->
        <div class="col-4 align-self-center">
            <div class="card" style="background-color: #c188bd">
                <img src="static/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="/settings" method="post" name="header_1">
                        <input type="hidden" name="header_1" value="header_3" />
                        <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 50px"></div>

    <div class="row">
        <!--CARD_4-->
        <div class="col-4 align-self-center">
            <div class="card" style="background-color: #f3ac80">
                <img src="static/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="/settings" method="post" name="header_1">
                        <input type="hidden" name="header_1" value="header_4" />
                        <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                    </form>
                </div>
            </div>
        </div>
        <!--CARD_5-->
        <div class="col-4 align-self-center">
            <div class="card" style="background-color: #de927b">
                <img src="static/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="/settings" method="post" name="header_1">
                        <input type="hidden" name="header_1" value="header_5" />
                        <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                    </form>
                </div>
            </div>
        </div>
        <!--CARD_6-->
        <div class="col-4 align-self-center">
            <div class="card" style="background-color: #c2899f">
                <img src="static/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="/settings" method="post" name="header_1">
                        <input type="hidden" name="header_1" value="header_6" />
                        <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" style="height: 50px"></div>

        <div class="row">
            <!--CARD_7-->
            <div class="col-4 align-self-center">
                <div class="card" style="background-color: #fdfa9b">
                    <img src="static/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <form action="/settings" method="post" name="header_1">
                            <input type="hidden" name="header_1" value="header_7" />
                            <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--CARD_8-->
            <div class="col-4 align-self-center">
                <div class="card" style="background-color: #e3c673">
                    <img src="static/8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <form action="/settings" method="post" name="header_1">
                            <input type="hidden" name="header_1" value="header_8" />
                            <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--CARD_9-->
            <div class="col-4 align-self-center">
                <div class="card" style="background-color: #a9cafb">
                    <img src="static/9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <form action="/settings" method="post" name="header_1">
                            <input type="hidden" name="header_1" value="header_9" />
                            <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 50px"></div>

            <div class="row">
                <!--CARD_10-->
                <div class="col-4 align-self-center">
                    <div class="card" style="background-color: #daee44">
                        <img src="static/10.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <form action="/settings" method="post" name="header_1">
                                <input type="hidden" name="header_1" value="header_10" />
                                <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--CARD_11-->
                <div class="col-4 align-self-center">
                    <div class="card" style="background-color: #9edccd">
                        <img src="static/11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <form action="/settings" method="post" name="header_1">
                                <input type="hidden" name="header_1" value="header_11" />
                                <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--CARD_12-->
                <div class="col-4 align-self-center">
                    <div class="card" style="background-color: #bbccf7">
                        <img src="static/12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <form action="/settings" method="post" name="header_1">
                                <input type="hidden" name="header_1" value="header_12" />
                                <button type="click" class="button btn btn-outline-light btn-lg">Select</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
</div>

{% endblock %}